<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Brownie Artesanal</title>
<div class="container">

    <div class="imagem">
        🍫
    </div>

    <h1>Brownie Artesanal</h1>

    <p>
        Brownie artesanal de chocolate,
        preparado especialmente para você.
    </p>

    <div class="preco">
        R$ 5,00
    </div>

    <form action="/adicionar" method="POST">

        <label>
            Quantidade:
        </label>

        <br>

        <input
            type="number"
            name="quantidade"
            value="1"
            min="1"
            max="10"
        >

        <br>

        <button type="submit">
            Adicionar ao carrinho
        </button>

    </form>

</div>

</body>
</html>